
.background {
    display: flex;
    flex-direction: column;
    height: 1024px;
    width: 791px;
    background-image: url('./scaleDDSheet.svg');
    background-size: contain;
    background-repeat: no-repeat
}

.top-bar {
    display: flex;
    height: 130px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.character-name{
    padding-left: 75px;
}

.character-details{
    padding-right: 51px;
    height: 75px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.character-details-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.character-details-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}